.acme-regular {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .abel-regular {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

strong {
  color: #0c4a93
}

div#rahmenbedingungen
{
  background-color: #ffe8c5;
}
div#raumlichkeiten{
  background-color: #f2ffc5;
}

div#rahmenbedingungen {
  background-color: #ffe8c5;
}

div#tagesablauf {
  background-color: #edfcff;
}